.oppMain {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  .oppItems {
    position: relative;
    height: 200px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 20px;
  }
}
