@import "~taro-ui/dist/style/components/progress.scss";
@import "~taro-ui/dist/style/components/icon.scss";
.aboutDetailTitle {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  .aboutDetailStatus {
    margin-right: 10px;
    font-size: 28px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: grey;
  }

  .aboutDetailDesc {
    margin-top: 30px;
    display: block;
    min-height: 150px;
    font-size: 24px;
  }

  .aboutDetailCard {
    margin-right: 50px;
    width: 200px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 1px 3px 5px rgba(252, 252, 252, 0.8);
    border: solid 1px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    display: inline-block;
    text-align: center;
    .aboutDetailCardTitleText {
      font-size: 26px;
      color: white;
      font-weight: bold;
    }
    .aboutDetailCardTitle {
      text-align: center;
      height: 60px;
      border-bottom: solid 1px rgba(252, 252, 252, 0.8);
      background-color: rgb(218,58,34);
      // rgb(202, 40, 67)
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    .aboutDetailCardText {
      line-height: 90px;
    }
  }
  .aboutDetailCard:last-of-type {
    margin-left: 80px;
  }

  .aboutDetailCoachDiv {
    margin-top: 50px;
    min-height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    .coachItems{
      border-bottom: #f6f6f6 solid 1rpx;
      box-shadow: 1px 3px 5px #f2f2f2;
      margin-bottom: 50px;
      padding-right: 20px;
      border-radius: 10px;
    }
    .coachTitle {
      height: 70px;
      display: flex;
    }
    .coachAvatar {
      flex: 0 0 100px;
      display: inline-block;
      width: 100px;
      height: 70px;
    }
    Text {
      flex: 1;
      line-height: 70px;
      display: inline-block;
      font-size: 28px;
    }
    .coachMessage{
      justify-items: center;
      margin-bottom: 20px;
    }
    .coachMessage::before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 50px;
      margin-right: 20px;
      border-radius: 5px;
      color: greenyellow;
      background-color: yellowgreen;
      transform: translateY((8px));

    }

    
    .coachIntroduce {
      padding-top: 20px;
      padding-bottom: 50px;
      padding-left: 20px;
      margin-bottom: 40px;
      width: 100%;
      p {
        font-size: 24px;
      }
    }
  }
}

.aboutDetailSwiperItem {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.aboutDetailName{
  display: inline-block;
  margin-left: 20px;
}
